@model LibraryApp.Models.BookClients
@{ ViewBag.Title = "InsertBookByClient"; }

<h2>Insert new client to @Model.Client.Name</h2>

@using (Html.BeginForm("InsertBookByClient", "Books"))
{
<div class="form-group">
    @Html.DropDownListFor(m => m.SelectedBookId,
                                             new SelectList(
                                                 Model.Books,
                                                 "Id",
                                                 "Name"), new { @class = "form-control" })
    @Html.HiddenFor(m => m.ClientId)
</div>
                <div class="form-group">

                    <button type="submit">Add Book by Client</button>
                </div>
                }
